# Perspectives PSet 4

## Question 1

In [4]:
import numpy as np
import scipy.stats as sts
import requests
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker

In [3]:
import numpy as np
import pandas as pd

# Load data
df = pd.read_csv('data/incomes.txt',sep=' ', header=None, names=["income"])
df

            income
0     51253.497156
1    100630.320241
2     83009.276137
3     82882.106543
4     77338.294839
..             ...
195  108107.230171
196   92154.086216
197   81684.908248
198   83403.875019
199  100597.175609

[200 rows x 1 columns]

## Question 2